.gridster .gs-w {
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background: #BBB;
}

/*me*/
.gridster .upImage {
    background-image: url(../../assets/upload/image/sgc.jpg);
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

/*me*/
.gridster .preview-holder {
    border: none !important;
    border-radius: 0 !important;
    background: #28a745 !important;
}

/*box shadow*/
.gridster ul {
	list-style-type: none;
    background-color: #FFFFFF;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0, .20);
	-moz-box-shadow: 0 0 10px rgba(0,0,0, .20);
	box-shadow: 0 0 10px rgba(0,0,0, .20);    
}

/*me*/
.gridster li {
    list-style: none;
}

/*me*/
.gridster .upText {
	text-align: left;
	color: #ffffff;
	display: flex;
    align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	
}