.gridster .gs-w {
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background: #BBB;
}

/*me*/
.gridster .upImage {
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

.gridster .upSlider {
    background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}

.gridster .upVideo {
	background-image: url("https://www.html5canvastutorials.com/demos/assets/dataURL.txt");
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

/*me*/
.gridster .preview-holder {
    border: none !important;
    border-radius: 0 !important;
    background: #28a745 !important;
}

/*box shadow*/
.gridster ul {
	list-style-type: none;
    background-color: #FFFFFF;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0, .20);
	-moz-box-shadow: 0 0 10px rgba(0,0,0, .20);
	box-shadow: 0 0 10px rgba(0,0,0, .20);    
}

/*me*/
.gridster li {
    list-style: none;
}

/*me*/
.gridster .upText {
	text-align: left;
	color: #ffffff;
	display: flex;
    align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

/*me below*/

.modalBodyScroll{
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}

.no-gutter-card.card-columns {
	column-gap: 2px;
}

.no-gutter-card > .card {
	cursor: pointer;	
	margin: 1px;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

.cardCaption .card-text {
	position: absolute;
	left: 4px;
    bottom: 2px;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);  
    color: #ffffff;
}

.cardCaption .card-title {
	border: 2px solid #ffffff;
    border-radius: 50px;
}

.cardCaption {
	opacity: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;	
}

.cardContainerHover:hover .imageHover {
	opacity: 0.3;
}

.cardContainerHover:hover .cardCaption {
	opacity: 0.7;
}

.cardContainerSelected{
	border: 3px solid #28a745 !important;
	color: #28a745;
	opacity: 1;
}

.cardContainerSelected .imageHover {
	opacity: 1;
}

.cardContainerSelected .cardCaption {
	opacity: 1;
}

.upSliderIcon{
	top: 40%;
	text-shadow: 2px 2px 0 #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121, 1px 1px 0 #212121;
	font-size: 20px;
	color: #ffffff;
}
